<launch>

  <include file="$(find darknet_ros)/launch/darknet_ros.launch" />

  <node pkg="darknet_ros_3d" type="darknet3d_node" name="darknet_3d" output="screen" launch-prefix="gdb -ex run --args">
    <rosparam command="load" file="$(find darknet_ros_3d)/config/darknet_3d.yaml" />
  </node>
</launch>
